body {
    background-color: lightgreen;
}

.container {
    border: 1px dashed salmon;
    background-color: lightyellow;
}

p {
    font-size: 2rem;
    font-weight: bold;
    color: green;
    border: 2px soid darkgrey;
}

ul li {
    background-color: blue;
    text-decoration: none;
    color: white;
}

.container2 {
    background-color: lightblue;
}